@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.navbar-container{
    background-color: #ab7e7e;
    
}
#navItem1{
    color: black;
    font-family: "Roboto";
}

#navItem2{
    color: black;
    font-family: "Roboto";
}

#navItem3{
    color: black;
    font-family: "Roboto";
}

#navItem4{
    color: black;
    font-family: "Roboto";
}

#navItem5{
    color: black;
    font-family: "Roboto";
}

.book-logo{
    height: 30px;
    width: 40px;
}


/* home-section */

.Home-section{
    background-color: #FFF2F2;
}

.section-heading{
    color: #612121;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
}

.welcome-heading{
    color: #590202;
    font-family: 'Kavoon';
    font-size: 35px;
    font-weight: bold;
}

.date-para{
    font-family: 'roboto';
    color: black;
}

.today-card-container{
    background-color: #DCB9B9;
    border-radius: 10px;
    border: 2px solid #6E5757;
    padding: 20px;
}

h4{
    color: #612121;
    font-family: 'roboto';
}

.task-card{
    background-color: #EED8D8;
    border: 1px solid #968F8F;
    font-size: 18px;
    font-family: 'roboto';
    padding: 10px;
}

.quote-card{
    background-color: #DCB9B9;
    border-radius: 10px;
    border: 2px solid #6E5757;
    padding: 20px;
}

/* learning section*/

.Learning-tracker-section{
    background-color: #FFF2F2;
}

hr{
    background-color: #333;
}

.subject-card{
    background-color: #DCB9B9;
    border: 2px solid #6E5757;
    border-radius: 8px;
    padding: 15px;
}

.status-card-container{
    display: flex;
    justify-content: space-between;
}

.completed-card{
    height: 35px;
    font-size: 15px;
    font-family: 'roboto';
    background-color: #A8D496;
    border: 1px solid #968F8F;
    padding: 3px 25px 0px 25px;
}

.completed-percent{
    font-weight: bold;
    margin-top: 15px;
}

.bar-container{
    width: 100%;
    height: 23px;
    background-color: #EED8D8;
    border-radius: 14px;
}

.completed-bar{
    height: 100%;
    background-color: #4da3ff;
    animation: htmlFillBar 3s ease normal;
    border-radius: 14px;
}

@keyframes htmlFillBar {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


.Ongoing-card{
    height: 35px;
    font-size: 15px;
    font-family: 'roboto';
    background-color: #e0934f;
    border: 1px solid #968F8F;
    padding: 3px 25px 0px 25px;
}

.ongoing-container{
    width: 100%;
    height: 23px;
    background-color: #EED8D8;
    border-radius: 14px;
    overflow: hidden;
}

.ongoing-bar{
    height: 100%;
    width: 0%;
    background-color: #4da3ff;
    border-radius: inherit;
    min-width: 10px;
    animation: ongoingFillBar 3s ease forwards;
}

@keyframes ongoingFillBar{
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}

/* weekly-planner */

.monthly-planner-section{
    background-color: #FFF2F2;
}

.month-heading{
    color: #612121;
    font-family: 'sans-serif';
    background-color: #e0934f;
}

.column{
    flex: 1;
}

.targets-card{
    background-color: #DCB9B9;
    border: 2px solid #6E5757;
    border-radius: 8px;
    padding: 15px;
}

.target-border{
    border-right: 1px solid #333;
}

h2{
    font-family: 'Bree-serif';
    font-weight: bold;
    color: #383333;
}

li{
    color: rgb(75, 74, 74);
}

.achieve-list-items{
    list-style-type: circle;
}



/* resources-section */


.resources-sectiion{
    background-color: #FFF2F2;
}



.about-me-sectiion{
    background-color: #FFF2F2;
}

.goals-items{
    list-style-type: disc;
}













